<div>
  <div class="modal-header">
    <div class="row">
      <i class="fa fa-close fa-2x pull-right" ng-click="interviewModal.close()"></i>
      <h3 class="modal-title font-candidate color-blue-candidate" id="myModalLabel"><i class="fas fa-comment-dots m-20"></i>Interview</h3>
    </div>
  </div>
  <div class="modal-body">
    <div class="row mb-20">
      <div class="row"> 
        <div class="col-md-12">
          <h4 class="font-candidate color-blue-candidate">ประเภท</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div ng-repeat="category in interviewModal.categorys" class="pl-10">
            <input type="radio" name="occurrences" ng-value="category" ng-model="interviewModal.datas.candidate.interview.category" />
            <label>{{ category }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-20">
      <div class="row">
        <div class="col-md-12">
          <h4 class="font-candidate color-blue-candidate mt-0">สถานที่</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <input ng-model="interviewModal.datas.candidate.interview.location" type="text" class="form-control" >
        </div>
      </div>
    </div>
    <div class="row mb-20">
      <div class="row">
        <div class="col-md-12">
          <h4 class="font-candidate color-blue-candidate">วันนัดสัมภาษณ์</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <p class="input-group">
              <label>Date</label>
              <input id="start_date" type="text" ng-change="interviewModal.checkDate()" class="form-control numberic" ng-model-options="{timezone: 'bangkok'}" uib-datepicker-popup="dd/MM/yyyy" ng-model="interviewModal.datas.candidate.interview.date" is-open="interviewModal.datePopup.opened" close-text="Close" >
              <span class="input-group-btn ">
                <button type="button" class="btn btn-default mt-20" ng-click="interviewModal.openDatePopup()"><i class="fa fa-calendar"></i></button>
              </span>
            </p>
            <span ng-show="interviewModal.isValidDate" class="col">
              กรุณากรอกวันที่ให้ถูกต้อง เช่น 01/07/2019 07:35
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
              <label>Time</label>
          </div>
          <div class="row">
            <input ng-model="interviewModal.hour" maxlength="2" type="text" class="form-control input-time" list="hours">
            <datalist id="hours">
              <option ng-repeat="item in interviewModal.listHours" value="{{item}}">
            </datalist>
            <span>:</span>
            <input ng-model="interviewModal.minute" maxlength="2" type="text" class="form-control input-time" list="minute">
            <datalist id="minute">
              <option ng-repeat="item in interviewModal.listMinutes" value="{{item}}">
            </datalist>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-md-12"> 
          <h4 class="font-candidate color-blue-candidate">ผู้สัมภาษณ์</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Email</label>
          <div ng-repeat="item in interviewModal.datas.candidate.interview.interviewer_emails_attributes">
            <div class="row" ng-hide="item._destroy">
              <div class="col-md-11">
                <input type="email" class="form-control input-email" ng-model="item.email" ng-keyup="interviewModal.disableButton(item.email)">
              </div>
              <div class="col-md-1 padding-left0">
                <button type="button" ng-hide="item.id != ''" class="close mt-15" aria-label="Close" ng-click="interviewModal.removeInterViewEmail($index)"><span aria-hidden="true">&times;</span></button>
              </div>
            </div> 
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-submit3 mt-15" ng-click="interviewModal.addMoreEmail()">+ invite</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-4 pull-right">
        <button type="button" class="btn btn-block btn-custom btn-gray" ng-click="interviewModal.close()">{{ "close" | translate }}</button>
      </div>
      <div class="col-md-4 pull-right">
        <button type="button" id="saveInterview" ng-click="interviewModal.save()" ng-disabled="interviewModal.checkSave()" class="btn btn-block btn-custom btn-green">{{ "save" | translate }}</button>
      </div>
    </div>
  </div>
</div>
