<div class="container" >
	<form ng-submit="inventory.save()">
		<div class="row">
			<div id="inventory">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-6 mt-20 mb-20" style="padding-left: 0px;">
							<label class="control-label font-24" style="padding: inherit;" for="item_name">{{ "request_number" | translate }}</label>
							<label class="control-label color-orange font-24" style="padding: inherit;" for="item_name"> {{ inventory.real_id }} </label>
							<label class="control-label font-24" style="padding: inherit;" for="item_name">{{ "of" | translate }}</label>
							<label class="control-label color-light-blue font-24" for="item_name">{{ inventory.user_name }}</label>
						</div>
					</div>
					<div class="row report-content container-fluid panel-board" style="height: 300px;">
						<div class="tab-content">
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label" for="item_name">{{"item_name" | translate}}</label>
	
										<div class="col-md-12">
											<input class="form-control" autocomplete="off" type="text" id="inventory_name" ng-model="inventory.name" required="true">
										</div>
									</div>
								</div>
								<div class="col-md-9">
									<div class="form-group">
										<label class="control-label" for="description">{{"description" | translate}}</label>
										<div class="col-md-12">
											<input class="form-control" autocomplete="off" type="text" id="inventory_description" ng-model="inventory.description" required="true">
										</div>
									</div>
								</div>
							</div>
							<div class="row mt-20">
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label" for="request_date">{{"request_date" | translate}}</label>
										<p class="input-group">
											<input id="request_date" type="text" class="form-control numberic" uib-datepicker-popup="dd/MM/yyyy" ng-model="inventory.datas.request_date" is-open="inventory.requestDatePopup.opened" close-text="Close" required="true"/>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default" ng-click="inventory.openRequestDatePopup()" ><i class="fa fa-calendar"></i></button>
											</span>
										</p>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label" for="price">{{"price" | translate}}</label>
										<div class="col-md-12">
											<input class="form-control" autocomplete="off" type="number" id="inventory_price" ng-model="inventory.price" ng-validate="number" required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" parseFloat>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label" for="user_request">{{"user_request" | translate}}</label>
										<div class="col-md-12">
											<input class="form-control" autocomplete="off" type="text" id="inventory_user" ng-model="inventory.user_name" required="true" >
										</div>
									</div>
								</div>
							</div>
							<div class="row mt-20">
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label" for="request_type">{{"request_type" | translate}}</label>
										<div class="col-md-12">
											<input class="form-control" autocomplete="off" type="text" id="request_type" ng-model="inventory.change_request_type" disabled required="true" >
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row mt-20">
						<div class="col-lg-4" style="padding-left: 0px;">
							<div class="report-content min-h-350 panel-board">
								<p class="pl-20">
									<h5><label class="control-label" for="purchase"> {{ "history" | translate }} </label></h5>
									<hr class="mt-0">
									<p class="pl-20">
									{{ inventory.date_save_step1 }} - {{ "request_approval" | translate }} {{ inventory.save_by }}
									<label class="control-label color-light-blue">{{ inventory.save_by }}</label><br>
									{{ inventory.date_save_step2 }} - {{ "purchasing_by" | translate }}
									<label class="control-label color-light-blue">{{ inventory.save_by_step2 }}</label>
									{{ "from_store" | translate }}
									<label class="control-label color-light-blue">{{ inventory.supplier_name }}</label><br>
									{{ inventory.date_save_step3 }} - {{ "get_inventory_by" | translate }}
									<label class="control-label color-light-blue">{{ inventory.save_by_step3 }}</label>
									{{ "buy_slip" | translate }}
									<label class="control-label color-light-blue">{{ inventory.buy_slip }}</label><br>
									{{ inventory.date_save_step4 }} - {{ "save_by" | translate }}
									<label class="control-label color-light-blue">{{ inventory.save_by_step4 }})</label>
									{{ "send_the_package_to" | translate }}
									<label class="control-label color-light-blue">{{ inventory.employee_name }}</label>
									</p>
								</p>
								<p class="pl-20" ng-show="!inventory.show_text">
									{{ inventory.date_save_step1 }} - {{ "request_approval" | translate }} {{ inventory.save_by }}
									<label class="control-label color-light-blue">{{ inventory.save_by }}</label><br>
									{{ inventory.date_save_step4 }} - {{ "save_by" | translate }}
									<label class="control-label color-light-blue">{{ inventory.save_by_step4 }})</label>
									{{ "send_the_package_to" | translate }}
									<label class="control-label color-light-blue">{{ inventory.employee_name }}</label>
								</p>
							</div>
						</div>
								
						<div class="col-lg-8 report-content container-fluid panel-board min-h-350">
							<div class="row">
								<div class="col-lg-3 mt-50">
									<div class="wrapper">
										<ul class="step-progress">
										  <li class="step-progress-item step-2 is-done is-pass">
										  	<strong class="label-status">{{ "inventory_purchase" | translate }}</strong>
										  	<label class="pt-5"></label>
										  </li>
										  <li class="step-progress-item step-3 is-done is-pass">
										  	<strong class="label-status">{{ "get_inventory" | translate }}</strong>
										  	<label class="pt-5"></label>
										  </li>
										  <li class="step-progress-item step-4 is-done">
										  	<strong class="label-status">{{ "dispatch_to_employees" | translate }}</strong>
										  </li>
										</ul>
									</div>
								</div>`
								<div class="col-lg-9">
									<div class="row">
										<h4><label class="control-label" for="purchase"> {{ "dispatch_to_employees_success" | translate }} </label></h4>
										<hr class="mt-0">
										<div class="row mt-10">
											<div class="col-md-6">
												<label class="control-label" for="employee_name">{{ "employee_name" | translate }}</label>
						          	<div class="form-group">
						            	<input type="text" class="form-control" id="employee_name" placeholder="{{ 'employee_name' | translate }}" ng-model="inventory.employee_name"required , autocomplete="off" disabled>
						         		</div>
						       		</div>
						       	</div>
						       	<div class="row mt-10">
			     						<div class="col-md-6" ng-show="inventory.show_return_date">
												<div class="form-group">
													<label class="control-label" for="define_return_date">{{ "define_return_date" | translate }}</label>
													<p class="input-group">
														<input id="define_return_date" type="text" class="form-control numberic" uib-datepicker-popup="dd/MM/yyyy" ng-model="inventory.define_return_date" close-text="Close" disabled/>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>			
				</div>
			</div>
		</div>
		<div class="row">
			<div class="footer-menu mt-20">
				<div class="pull-right text-right padding-left10">
					<button type="button" class="btn btn-custom btn-gray ng-binding" ng-click="inventory.backToRootView()">{{ "cancel" | translate }}</button>
				</div>
				<div class="pull-right text-right padding-left10">
					<button type="submit" class="btn btn-custom btn-blue ng-binding btn-block padding-left10">{{ "save" | translate }}</button>
				</div>
			</div>
		</div>
	</form>
</div>


				
			


              