<p>Welcome <%= @employee.email %></p>

<p>You can set your password through the link below:</p>

<p><%= link_to 'Set my password', change_subdomain_send_mail_subdomains_url(reset_password_token: @token, subdomain_name: @subdomain) %></p>
