(function() {
  'use strict';
  angular.module('somsri.invoice.bus', [
  ])
  .controller('busCtrl', ['$scope', '$rootScope', 'translateFilter',  function($scope, $rootScope, translateFilter) {
      $rootScope.menu = I18n.t('school_bus')

    var buslaneTable = $('#bus-table')
    var buslaneTableOptions = {
      sidePagination: "server",
      pagination: true,
      pageSize: 10, 
      showColumns: false,
      height: 'auto',
      striped: false,
      search: false,
      toolbar: ".toolbar",
      url: "/buses",
      columns: [{
        field: 'license_plate',
        title: I18n.t("license_plate")  
      },{
        field: 'province',
        title: I18n.t("province")
      },{
        field: 'car_brand',
        title: I18n.t("car_brand"),
      },{
        field: 'employee',
        title: I18n.t("chauffeur"),
      },{
        field: 'created_at',
        title: I18n.t("created_at"),
      },{
        field: 'bring_back',
        formatter: editBtnFormatter
      }]
    }
    buslaneTable.bootstrapTable(buslaneTableOptions)

    function editBtnFormatter(index, row, element){
      var html =  '<a href="somsri_invoice#/updatebus/'+ row.id +'" class="color-orange"><i class="fas fa-edit color-orange"></i> แก้ไข</a>';
      return html;
    }


  }]);
})();
