<div class="space20"></div>
<div class="space20"></div>
<div class="row">
  <div class="col-xs-2">
    <h3>{{'bus' | translate}}</h3>
  </div>
  <div class="col-xs-10" style="text-align: right;">
      <a class="btn btn-custom btn-blue" href="/somsri_invoice#/createbus"><i class="fas fa-folder-plus"></i>  {{ 'create_bus' | translate }}</a>
  </div>
</div> <br>
<div class="container-fluid">
  <div class="row paper-white container-fluid">
    <table id="bus-table" data-locale="{{ 'locale' | translate }} "></table><br>
  </div>
</div>