<form id="passwordForm" name="passwordForm" enctype="multipart/form-data" ng-submit="personal.submit(personal.datas)">
    <div class="setting">
        <div class="container setting-plan">
            <label class="style-font">{{ 'personal_data' | translate}}</label>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label for="name">{{ 'employee_name' | translate }}</label>
                                <input type="text" class="form-control white-bg" id="username" ng-model="personal.datas.user.full_name" ng-disabled="true">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label for="email">{{ 'email' | translate }}</label>
                                <input type="text" class="form-control white-bg" id="useremail" ng-model="personal.datas.user.email" ng-disabled="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <label for="password">{{ 'password' | translate }}</label>
                                <input type="password" class="form-control white-bg" id="password" ng-model="personal.datas.password" ng-disabled="true">
                            </div>
                        </div>
                    </div>
                    <div class="space20"></div>
                    <div class="row">
                        <div class="col-sm-5 col-md-4">
                            <div class="form-group">
                                <button type="button" class="btn btn-custom btn-green btn-block" ng-click="personal.changePassword()">{{ 'change_password' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>