<div class="container" id="classroom-manage">
<div class="space20"></div>
<div class="space20"></div>
<div class="row">
    <div class="col-xs-2">
        <a href="/main#/classroom">
            <h3><i class="back-hearder fas fa-long-arrow-alt-left color-orange"></i> {{"manage_line_item" | translate}}</h3>
        </a>
    </div>
</div><br>
<div class="content-box-classroom-manage">
  <div class="row">
    <div class="col-xs-1">
      <h4 class="header">{{ "grade_level" | translate }}</h4>
    </div>
    <div class="col-xs-11">
      <button type="button" class="btn btn-primary button-header"><i class="fas fa-plus"></i> {{ "create_grade" | translate }}</button>
    </div>
  </div>
  <div class="row">

  </div>
  
  </div>