<div class="space20"></div>
<div class="space20"></div>
<div class="space20"></div>
<div class="container main-menu main">
<div class="col-xs-4">
    <div class="menu-btn" ng-click="">
        <div class="wraptocenter">
            <%= image_tag 'bus-school.png', class: "menu_school_bus"  %>
        </div>
    </div>
    <p>{{ 'manage_school_bus' | translate }}</p>
</div>

<div class="col-xs-4">
    <div class="menu-btn" ng-click="openBusLane()">
        <div class="wraptocenter">
            <%= image_tag 'road.png', class: "menu_school_bus" %>
        </div>
    </div>
    <p>{{ 'bus_lane' | translate }}</p>
</div>

<div class="col-xs-4">
    <div class="menu-btn" ng-click="">
        <div class="wraptocenter">
            <%= image_tag 'file-chart-line.png', class: "menu_school_bus" %>
        </div>
    </div>
    <p>{{ 'report' | translate }}</p>
</div>
</div>
