<%= form_for @evaluate do |f| %>


<div class="container-fluid blue-bg">
  <!-- Head -->
  <div class="row-head-sp justify-content-between">
     <i class="fas fa-arrow-left employee-view-icon.active" ng-click="createCandidate.cancelSubmit()"></i> &nbsp; {{ 'evaluate_candidate' | translate }}
  </div>

  <!--Content Evaluate Form -->
  <button type="button" class="btn btn-submit2" ng-click="evaluateCandidate.formshow()"><i class="fas fa-file-import"></i>&nbsp;{{ 'Show' | translate }}</button>
  <button type="button" class="btn btn-cancel2" ng-click="evaluateCandidate.formhide()"><i class="fas fa-file-import"></i>&nbsp;{{ 'hide' | translate }}</button>

  <!-- content when not submit -->
  <div class="content-scout pt-0 mx-15p" ng-hide="evaluateCandidate.hide">
    <form name="evaluateCandidateForm" ng-submit="evaluateCandidate.submit(evaluateCandidate.datas)">
      
      <!-- Info row -->
      <div class=" row mx-0 mt-0 font-21">

        <div class="row-head2 mt-0 mb-30">
          {{ 'Interview Info' | translate }}
        </div>

        <!-- Name interviewee / Email interviewer -->
        <div class="col-lg-6 p-0">
          <div class="row m-0">
            {{ 'interviewee_name' | translate }}<br><br>
            <label>{{evaluateCandidate.datas.candidate.full_name}}</label>
            <hr>
          </div>
          <div class="row m-0">
            {{ 'interviewer_email' | translate }}<br><br>
            <label>{{evaluateCandidate.datas.candidate.email}}</label>
            <hr>
          </div>
        </div>

        <!-- Type -->
        <div class="col-lg-6 pl-20">
          <b>{{ 'Type' | translate }}</b>
          <div class="radio font-14">
            <label><input id="1" type="radio" value="internship" ng-model="evaluateCandidate.datas.candidate.type"><p class="font-21">&nbsp;&nbsp;{{ 'Internship' | translate }}</p></label>
          </div>
          <div class="radio font-14">
            <label><input id="2" type="radio" value="cooperative" ng-model="evaluateCandidate.datas.candidate.type"><p class="font-21">&nbsp;&nbsp;{{ 'Cooperative Education' | translate }}</p></label>
          </div>
          <div class="radio font-14">
            <label><input id="3" type="radio" value="apprentice" ng-model="evaluateCandidate.datas.candidate.type"><p class="font-21">&nbsp;&nbsp;{{ 'Apprentice' | translate }}</p></label>
          </div>
        </div>

      </div>
      <!-- End Info row -->

      <!-- Current Ability row -->
      <div class="row mt-35 m-0 font-18">

        <!-- Current Ability - ประเมินความรู้ความสามารถ -->
        <div class="row-head2">
          {{ 'Current Ability - ประเมินความรู้ความสามารถ' | translate }}
        </div>

        <!-- frontend -->
        <div class="row mx-0 mt-35">
          <div class="col-md-12 mt-10">
            <label>{{ 'ประเมินความรู้ Frontend (HTML, CSS, Bootstrap, Angular, ReactJS)' | translate }}</label>
          </div>
          <div class="col-md-2">
            <%= f.select :aaa, ((0..500).map {|i| [i,i] } << ["No limit",nil]) %>
            <select class="form-control text-blue font-21 pl-30p h-45" ng-options='point as point for point in evaluateCandidate.points' name="frontend" ng-model="evaluateCandidate.datas.candidate.frontend">
            </select>
          </div>
        </div>


        <!-- dotnet -->
        <div class="row mx-0 mt-35">
          <div class="col-md-12 mt-10">
            <label>{{ 'ประเมินความรู้ .Net' | translate }}</label>
          </div>
          <div class="col-md-2">
            <select class="form-control text-blue font-21 pl-30p h-45" ng-options='point as point for point in evaluateCandidate.points' name="dotnet" ng-model="evaluateCandidate.datas.candidate.dotnet">
            </select>
          </div>
        </div>


        <!-- dotnet core -->
        <div class="row mx-0 mt-35">
          <div class="col-md-12 mt-10">
            <label>{{ 'ประเมินความรู้ .Net Core' | translate }}</label>
          </div>
          <div class="col-md-2">
            <select class="form-control text-blue font-21 pl-30p h-45" ng-options='point as point for point in evaluateCandidate.points' name="dotnetcore" ng-model="evaluateCandidate.datas.candidate.dotnetcore">
            </select>
          </div>
        </div>

        <!-- ruby -->
        <div class="row mx-0 mt-35">
          <div class="col-md-12 mt-10">
            <label>{{ 'ประเมินความรู้ Ruby on Rails' | translate }}</label>
          </div>
          <div class="col-md-2">
            <select class="form-control text-blue font-21 pl-30p h-45" ng-options='point as point for point in evaluateCandidate.points' name="ruby" ng-model="evaluateCandidate.datas.candidate.ruby">
            </select>
          </div>
        </div>

        <!-- kotlin -->
        <div class="row mx-0 mt-35">
          <div class="col-md-12 mt-10">
            <label>{{ 'ประเมินความรู้ Kotlin' | translate }}</label>
          </div>
          <div class="col-md-2">
            <select class="form-control text-blue font-21 pl-30p h-45" ng-options='point as point for point in evaluateCandidate.points' name="kotlin" ng-model="evaluateCandidate.datas.candidate.kotlin">
            </select>
          </div>
        </div>

        <!-- swift -->
        <div class="row mx-0 mt-35">
          <div class="col-md-12 mt-10">
            <label>{{ 'ประเมินความรู้ Swift' | translate }}</label>
          </div>
          <div class="col-md-2">
            <select class="form-control text-blue font-21 pl-30p h-45" ng-options='point as point for point in evaluateCandidate.points' name="swift" ng-model="evaluateCandidate.datas.candidate.swift">
            </select>
          </div>
        </div>

        <!-- ability_note -->
        <div class="row mx-0 px-20 mt-35">
          <label>{{ 'ประเมินความรู้อื่นๆ' | translate }}</label>
          <textarea class="form-control border-textarea mt-30" rows="15" id="note" ng-model="evaluateCandidate.datas.candidate.current_ability_note"></textarea>
        </div>

      </div>
      <!-- End Current Ability -->


      <!-- Learn Ability - ประเมินความสามารถในการเรียนรู้ -->
      <div class="row mt-35 m-0 font-18">
        <div class="row-head2">
          {{ 'Learn Ability - ประเมินความสามารถในการเรียนรู้' | translate }}
        </div>

        <!-- problem_solving -->
        <div class="row mx-0 mt-35">
          <div class="col-md-12 mt-10">
            <label>{{ 'ประเมินการแก้ปัญหา (Problem Solving)' | translate }}</label>
          </div>
          <div class="col-md-2">
            <select class="form-control text-blue font-21 pl-30p h-45" ng-options='point as point for point in evaluateCandidate.points' name="problem_solving" ng-model="evaluateCandidate.datas.candidate.problem_solving">
            </select>
          </div>
        </div>

        <!-- indepentdent -->
        <div class="row mx-0 mt-35">
          <div class="col-md-12 mt-10">
            <label>{{ 'ประเมินการทำงานด้วยตัวเอง (Indepentdent)' | translate }}</label>
          </div>
          <div class="col-md-2">
            <select class="form-control text-blue font-21 pl-30p h-45" ng-options='point as point for point in evaluateCandidate.points' name="indepentdent" ng-model="evaluateCandidate.datas.candidate.indepentdent">
            </select>
          </div>
        </div>

        <!-- comunication -->
        <div class="row mx-0 mt-35">
          <div class="col-md-12 mt-10">
            <label>{{ 'ประเมินการสื่อสาร ถาม-ตอบ (Comunication)' | translate }}</label>
          </div>
          <div class="col-md-2">
            <select class="form-control text-blue font-21 pl-30p h-45" ng-options='point as point for point in evaluateCandidate.points' name="comunication" ng-model="evaluateCandidate.datas.candidate.comunication">
            </select>
          </div>
        </div>

      </div>
      <!-- End Learn Ability -->


      <!-- Attraction - ประเมินความใส่ใจ -->
      <div class="row mt-35 m-0 font-18">
        <div class="row-head2">
          {{ 'Attraction - ประเมินความใส่ใจ' | translate }}
        </div>

        <!-- attraction_banana -->
        <div class="row mx-0 mt-35">
          <div class="col-md-12 mt-10">
            <label>{{ 'คะแนนความกระตือรือร้นที่จะร่วมงานกับ Banana' | translate }}</label>
          </div>
          <div class="col-md-2">
            <select class="form-control text-blue font-21 pl-30p h-45" ng-options='point as point for point in evaluateCandidate.points' name="attraction_banana" ng-model="evaluateCandidate.datas.candidate.attraction_banana">
            </select>
          </div>
        </div>
        

        <div class="row mx-0 px-20 mt-35 font-14">
          <b>{{ 'ความตรงต่อเวลา - punctual' | translate }}</b>
          <div class="radio ml-35 mt-20 ">
            <label><input id="1" type="radio" value="ontime" ng-model="evaluateCandidate.datas.candidate.type"><p class="font-18">&nbsp;&nbsp;{{ 'ตรงเวลานัด' | translate }}</p></label>
          </div>
          <div class="radio ml-35 mt-20">
            <label><input id="2" type="radio" value="late" ng-model="evaluateCandidate.datas.candidate.type"><p class="font-18">&nbsp;&nbsp;{{ 'ไม่ตรงเวลานัด' | translate }}</p></label>
          </div>
        </div>


        <!-- teamwork -->
        <div class="row mx-0 mt-35">
          <div class="col-md-12 mt-10">
            <label>{{ 'ประเมินความสามารถทำงานร่วมกับทีม' | translate }}</label>
          </div>
          <div class="col-md-2">
            <select class="form-control text-blue font-21 pl-30p h-45" ng-options='point as point for point in evaluateCandidate.points' name="teamwork" ng-model="evaluateCandidate.datas.candidate.teamwork">
            </select>
          </div>
        </div>

      </div>
        <!-- End Learn Ability -->



      <!-- Conclusion - สรุป -->
      <div class="row mt-35 m-0 font-18">
        <div class="row-head2">
          {{ 'Conclusion - สรุป' | translate }}
        </div>

        <!-- compatibility -->
        <div class="row mx-0 mt-35">
          <div class="col-md-12 mt-10">
            <label>{{ 'ความเข้ากันได้กับวัฒนธรรมองค์กร' | translate }}</label>
          </div>
          <div class="col-md-2">
            <select class="form-control text-blue font-21 pl-30p h-45" ng-options='point as point for point in evaluateCandidate.points' name="compatibility" ng-model="evaluateCandidate.datas.candidate.compatibility">
            </select>
          </div>
        </div>

        <!-- note -->
        <div class="row mx-0 px-20 mt-35">
          <label>{{ 'อื่นๆ' | translate }}</label>
          <textarea class="form-control border-textarea mt-30" rows="15" id="note" ng-model="evaluateCandidate.datas.candidate.note"></textarea>
        </div>

        <!-- join -->
        <div class="row mx-0 px-20 mt-35">
          <b>{{ 'ถ้าท่านต้องร่วมงานกับผู้ถูกสัมภาษณ์ ท่านยินดีหรือไม่' | translate }}</b>
          <div class="radio ml-35 mt-20 font-14">
            <label><input id="1" type="radio" value="pleased" ng-model="evaluateCandidate.datas.candidate.join"><p class="font-18">&nbsp;&nbsp;{{ 'ยินดี' | translate }}</p></label>
          </div>
          <div class="radio ml-35 mt-20 font-14">
            <label><input id="2" type="radio" value="soso" ng-model="evaluateCandidate.datas.candidate.join"><p class="font-18">&nbsp;&nbsp;{{ 'เฉยๆ' | translate }}</p></label>
          </div>
          <div class="radio ml-35 mt-20 font-14">
            <label><input id="3" type="radio" value="displeased" ng-model="evaluateCandidate.datas.candidate.join"><p class="font-18">&nbsp;&nbsp;{{ 'ไม่ยินดี' | translate }}</p></label>
          </div>
        </div>

      </div>
      <!-- End Conclusion -->


      <!-- Submit -->
      <div class="row m-0 mt-100 Btn-group">
        <button type="submit" class ="btn btn-submit2" ng-disabled="evaluateCandidate.cannotSubmit"><i class="fas fa-file-import"></i>&nbsp;{{ 'Submit' | translate }}</button>
      </div>




    <!--/Content Evaluate Form -->
    </div>
  </div>


  <!-- content when submit already -->
  <div class="content-scout pt-0 mx-15p" ng-show="evaluateCandidate.hide">
    <!-- warnnig row -->
    <div class=" row mx-0 mt-0 font-21">

      <div class="row-head2 mt-0 mb-30">
        {{ 'Interview Info' | translate }}
      </div>

      <!-- Name interviewee / Email interviewer -->
      <div class="col-lg-6 p-0">
        <div class="row m-0">
          {{ 'Interviewee name' | translate }}<br><br>
          <label>{{evaluateCandidate.datas.candidate.full_name}}</label>
          <hr>
        </div>
        <div class="row m-0">
          {{ 'Interviewer Email' | translate }}<br><br>
          <label>John Smilt</label>
          <hr>
        </div>
      </div>

      <div class="col-lg-6 pl-20">
        <b>{{ 'evaluate_issubmit_already' | translate }}</b>
      </div>

    </div>
  </div>


</div>
<% end %>