<div class="help">
    <div class="container help-pate " style="padding-top: 4rem; color: black;">
        <h1>ติดต่อเรา</h1>
        <h3>ส่งเมลมาที่ info@somsri.io</h3>
        <h3>โทร 053-020078</h3>
        <h3>LINE @somsri.io</h3>
    </div>

</div>