<script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '5b8aadbe-ba44-42c5-9934-b676d1a46c0f', f: true }); done = true; } }; })();</script>
<div class="help" id="help-id">
    <div class="container help-pate " style="padding-top: 4rem; color: black;">
        <h1><u>{{ 'contact_us' | translate }}</u></h1>
        <h3>{{ 'send_email' | translate }}<a href = "mailto: abc@example.com">  info@somsri.io</a> {{ 'or' | translate }}</h3>
        <h3>{{ 'call_number' | translate }} <a href="tel:+53020078">053-020078</a> {{ 'or' | translate }}</h3>
        <h3>{{'line' | translate}} <a href="https://line.me/R/ti/p/%40pem4803w" target="_blank">@somsri.io</a></h3>
    </div>

</div>
