<div class="help" id="help-id">
    <div class="container help-pate " style="padding-top: 4rem; color: black;">
        <h1><u>{{ 'contact_us' | translate }}</u></h1>
        <h3>{{ 'send_email' | translate }}<a href = "mailto: abc@example.com">  info@somsri.io</a> {{ 'or' | translate }}</h3>
        <h3>{{ 'call_number' | translate }} <a href="tel:+53020078">053-020078</a> {{ 'or' | translate }}</h3>
        <h3>{{'line' | translate}} <a href="https://line.me/R/ti/p/%40pem4803w" target="_blank">@somsri.io</a></h3>
    </div>

</div>
