<div class="help">
    <div class="container help-pate " style="padding-top: 4rem; color: black;">
        <h1><u>{{ 'contact_us' | translate }}</u></h1>
        <h3>{{ 'send_email' | translate }}</h3>
        <h3>{{ 'call_number' | translate }}</h3>
        <h3>{{'line' | translate}} @somsri.io</h3>
        <p>{{'line_link' | translate}}<a href="https://line.me/R/ti/p/%40pem4803w">  https://line.me/R/ti/p/%40pem4803w</p>
    </div>

</div>
