<p>คำขอใช้พัสดุ : <%= @invetory_request.item_name %></p>
<p>จำนวน : <%= @invetory_request.request_count %></p>
<p>ผลคำขอใช้พัสดุ : approve </p>
<p>อนุมัติโดย : <%= @recipient.first_name_thai %> <%= @recipient.last_name_thai %></p>
