<p><%= @inventory.user_name %> </p>
<p>ยื่นคำขอคืนพัสดุ <%= @inventory.item_name %> ในวันที่ <%= @inventory.return_request_date.strftime("%m/%d/%Y")%></p>
<p>ไปยังหนัา<%= link_to 'Inventory', send_subdomain_in_mail_subdomains_url(subdomain_name: @subdomain)%></p>
