<div class="space20"></div>
<div class="space20"></div>
<form ng-submit="createupdatebus.submit(createupdatebus.datas)">
<div class="row">
  <div class="col-xs-12">
    <h3><a href="/somsri_invoice#/bus"><i class="fas fa-arrow-left color-orange"></i> {{'bus' | translate}}</a></h3>
  </div>
</div> <br>
 <!-- bus -->
<div class="container-fluid" id="bus">
  <div class="row paper-white padding30 container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="name">{{ 'license_plate' | translate }}</label>
              <input type="text" class="form-control white-bg" ng-model="createupdatebus.datas.license_plate" required>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label for="name">{{ 'province' | translate }}</label>
              <input type="text" class="form-control white-bg" ng-model="createupdatebus.datas.province" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="name">{{ 'car_brand' | translate }}</label>
              <input type="text" class="form-control white-bg" ng-model="createupdatebus.datas.car_brand" required>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label for="name">{{ 'the_driver' | translate }}</label>
              <input type="text" class="form-control white-bg" ng-model="createupdatebus.datas.employee" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label for="name">{{ 'note' | translate }}</label>
            <textarea class="form-control border-textarea" rows="9" id="note" ng-model="createupdatebus.datas.note"></textarea>
          </div>
        </div>
      </div>
      <div class="col-xs-6"></div>
    </div><br><br><br>
  </div>
</div><br>
<div class="row">
  <div class="col-xs-2">
    <button type= "submit" class="btn btn-custom btn-blue btn-block"> {{ 'save' | translate }}</button>
  </div>
  <div class="col-xs-2">
    <a href="/somsri_invoice#/bus" class="btn btn-custom btn-gray btn-block"> {{ 'Canceled' | translate }}</a>
  </div>
</div>
</form>
