// --------------------- Select Plan ------------------------
//------ nav bar1 -----------
.layout .nav-tabs {
  border-bottom: none;
}

.layout .nav-item.nav-link {
  padding-right: 2.5%;
}

.layout .nav-tabs>li>a {
  background-color: #FFFFFF;
  border: 2px solid #DCDCDC;
  border-radius: 3px;
  width: 194px;
  height: 116px;
  color: #4A4A4A
}

.layout .nav-tabs>li.active>a,
.layout .nav-tabs>li.active>a:focus,
.layout .nav-tabs>li.active>a:hover {
  background-color: #FFFFFF;
  border: 2px solid #3FA1E6;
  border-radius: 3px;
  width: 194px;
  height: 116px;
  color: #3FA1E6;
}

.layout .fa-money {
  /* color: #3FA1E6; */
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
}

.layout .fa-credit-card {
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
}

.layout .nav-pills>li>a,
.layout .nav-pills>li>a:focus,
.layout .nav-pills>li>a:hover {
  font-size: 30px
}

.layout .nav-pills>li.active>a,
.layout .nav-pills>li.active>a:focus,
.layout .nav-pills>li.active>a:hover {
  background: rgb(79, 89, 219);
  background: linear-gradient(90deg, rgba(79, 89, 219, 1) 0%, rgba(29, 167, 242, 1) 38%);
  font-size: 30px;
}

// -----------------------------------------------------------
// ------------- nav bar 2 ----------------------------------
.layout2 .nav-tabs {
  border-bottom: none;
}

.layout2 .nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  background-color: #FFFFFF;
  border: 2px solid #7ED321;
  border-radius: 3px;
  width: 194px;
  height: 40px;
  color: #7ED321;
  ;
}

.layout2 .nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.layout2 .nav-tabs>li>a {
  background-color: #FFFFFF;
  border: 2px solid #DCDCDC;
  border-radius: 3px;
  width: 194px;
  height: 40px;
  color: #4A4A4A;
}

.plan .select-plan {
  padding: 50px;
  background-color: #fff;
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.3);
  margin: auto;
  width: 128%;
  margin-left: -15%;
}

.sec_4 {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 100px;
}

.sec_4 h3 {
  font-weight: 300;
  color: #4A4A4A;
}

.sec_4 p {
  color: #9B9B9B;
  font-weight: 300;
}

.font-style {
  color: #3FA1E6;
  font-family: Maitree;
  line-height: 22px;
  text-align: left;
}

.sec_4 .price-r1 {
  color: rgb(85, 85, 84);
}

.sec_4 .price-l,
.sec_4 .price-r {
  color: #F5A623;
}

.sec_4 .price-l {
  margin-top: 20px;
}

.sec_4 .marked {
  color: #4A4A4A;
  font-weight: 400;
}

.border-r {
  border-right: 2px solid transparent;
}

@media (min-width: 768px) {
  .border-r {
    border-right: 2px solid #F5A623;
  }
}

section {
  display: flex;
  flex-flow: row wrap;
}

section>div {
  flex: 1;
  padding: 0.5rem;
}

input[type="radio"] {
  display: none;
  &:not(:disabled)~label {
    cursor: pointer;
  }
  &:disabled~label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }
}

.sec_4 label {
  height: 100%;
  display: block;
  background: white;
  border: 2px solid #c7e3d59e;
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  //margin: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
  position: relative;
}

.sec_4 input[type="radio"]:checked+label {
  background: hsla(150, 75%, 50%, 1);
  color: hsla(215, 0%, 100%, 1);
  box-shadow: 0px 0px 20px hsla(150, 100%, 50%, 0.75);
  &::after {
    color: hsla(215, 5%, 25%, 1);
    font-family: FontAwesome;
    border: 2px solid hsla(150, 75%, 45%, 1);
    content: "\f00c";
    font-size: 24px;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-540%);
    height: 50px;
    width: 50px;
    line-height: 49px;
    text-align: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
  }
}

@media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
}

.backgorund-signup1 {
  background: rgb(80, 81, 90);
  background: linear-gradient(90deg, rgba(80, 81, 90, 1) 0%, rgba(166, 178, 184, 1) 70%);
}

.line-5 {
  border: 1px solid #C9C9C9;
}

#formSchool h4 {
  color: rgb(53, 167, 219);
}