<form id="passwordForm" name="passwordForm" enctype="multipart/form-data" ng-submit="setting.submit(setting.datas)">
  <div class="setting">
    <div class="container setting-plan">
      <div class="row">
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-3">
              <label class="style-font">{{ 'logo_school' | translate }}</label>
              <div class="form-group">
                <img id="s_logo" ng-src="{{ setting.datas.school_logo }}" alt="your image" width="200px"
                  onclick="$('#file-upload').trigger('click')" /><br>
                <input type="file" id="file-upload"
                  onchange="angular.element(this).scope().fileChange(event, 's_logo')">
              </div>
            </div>
            <div class="col-md-9">
              <div class="row">
                <label class="style-font">{{ 'data' | translate }}</label>
              </div><br>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="name">{{ 'school_name_thai' | translate }}</label>
                    <input type="text" class="form-control white-bg" id="name" ng-model="setting.datas.school.name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="name_eng">{{ 'school_name_eng' | translate }}</label>
                    <input type="text" class="form-control white-bg" id="name_eng"
                      ng-model="setting.datas.school.name_eng">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="subdoamin">Subdomain</label>
                    <input type="text" class="form-control white-bg" id="name_eng"
                      ng-model="setting.datas.school.subdomain_name" disabled>
                  </div>
                </div>
                <div class="col-md-6" style="margin-top: 45px; margin-left: -20px; color:#0098CF;">
                  <b>{{ setting.domain_name }}</b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <hr><br>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <label class="style-font">{{ 'billing_info' | translate }}</label>
          </div><br>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="address">{{ 'address' | translate }}</label>
                <input type="text" class="form-control white-bg" id="address" ng-model="setting.datas.school.address">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">{{ 'phone' | translate }}</label>
                <input type="text" class="form-control white-bg" id="phone" ng-model="setting.datas.school.phone">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="fax">{{ 'fax' | translate }}</label>
                <input type="text" class="form-control white-bg" id="fax" ng-model="setting.datas.school.fax">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="email">{{ 'school_email' | translate }}</label>
                <input type="text" class="form-control white-bg" id="emailSchool" ng-model="setting.datas.school.email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label>{{ 'tax_number' | translate}}</label>
                <input type="text" class="form-control white-bg" ng-model="setting.datas.school.tax_id">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="subdoamin">{{ 'branch' | translate}}</label>
                <input type="text" class="form-control white-bg" id="name_eng" ng-model="setting.datas.school.branch">
              </div>
            </div>
          </div><br>
          <div class="row">
            <label class="style-font">{{ 'last_bil' | translate}}</label>
          </div><br>
          <div class="row">
            <div class="col-md-8 footer-invoice">
              <textarea id="footer-invoice" rows="100" cols="200" ng-model="setting.datas.school.note"
                redactor></textarea>
            </div>
          </div>
        </div>
        <!-- end half-->
      </div>
      <div class="row"><br>
        <hr>
      </div><br>

      <div class="row">
        <label class="style-font">{{ 'bil_address' | translate}}</label>
      </div><br>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label>{{ 'name' | translate}}</label>
            <input type="text" class="form-control white-bg" ng-model="setting.datas.billing_info.name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label>{{ 'address' | translate}}</label>
            <input type="text" class="form-control white-bg" ng-model="setting.datas.billing_info.address">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{ 'district' | translate}}</label>
            <input type="text" class="form-control white-bg" ng-model="setting.datas.billing_info.district">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>{{ 'province' | translate}}</label>
            <input type="text" class="form-control white-bg" ng-model="setting.datas.billing_info.province">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>{{ 'zip_code' | translate}}</label>
            <input type="text" class="form-control white-bg" ng-model="setting.datas.billing_info.zip_code">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label>{{ 'phone_number' | translate}}</label>
            <input type="text" class="form-control white-bg" ng-model="setting.datas.billing_info.phone">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>{{ 'tax_number' | translate}}</label>
            <input type="text" class="form-control white-bg" ng-model="setting.datas.billing_info.tax_id">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label>{{ 'branch' | translate}}</label>
            <input type="text" class="form-control white-bg" ng-model="setting.datas.billing_info.branch">
          </div>
        </div>
      </div>
      <div class="row"><br>
        <hr>
      </div><br>

      <div class="row">
        <label class="style-font">{{ 'Contact information' | translate }}</label>
      </div> <br>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label for="name">{{ 'employee_name' | translate }}</label>
            <input type="text" class="form-control" id="username" ng-model="setting.datas.owner.full_name">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="email">{{ 'phone' | translate }}</label>
            <input type="text" class="form-control" id="useremail" ng-model="setting.datas.owner.tel">
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label for="email">{{ 'email' | translate }}</label>
            <input type="text" class="form-control" id="useremail" ng-model="setting.datas.owner.email">
          </div>
        </div>
      </div><br>
      <hr>

      <div class="row">
        <label class="style-font">{{ 'plan' | translate}}</label>
      </div><br>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>{{ ( !setting.datas.plan.frequency ? setting.datas.plan : setting.datas.plan.frequency ) | translate }}</label>
            <div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>{{'exp' | translate}} {{ setting.datas.licenses.expired_date | date:"MM/dd/yyyy"}} (
              {{ ( setting.datas.school.auto_subscribe ? "auto_renew" : "not_auto_renew" ) | translate }} )</label>
          </div>
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-custom btn-blue float-right size"
          ng-click="setting.changePlan()">{{'change_plan' | translate}}</button>
        <button ng-show="setting.button_auto_subscribe" type="button" class="btn btn-custom btn-red float-right size"
          ng-click="setting.auto_subscribe(setting.datas.school.auto_subscribe)">{{'Cancel_Subscribe' | translate}}</button>
        <button ng-hide="setting.button_auto_subscribe" type="button"
          class="btn btn-custom btn-light-green float-right size"
          ng-click="setting.auto_subscribe(setting.datas.school.auto_subscribe)">{{'auto_subscribe' | translate}}</button>
      </div>

    </div>
  </div>
  <br><br>
  <div class="footer-menu row" style="margin-right: 50px;">
    <div class="col-md-offset-8 col-md-2 text-right">
      <button type="submit" class="btn btn-custom btn-blue btn-block">{{ 'save' | translate }}</button>
    </div>
    <div class="col-md-2 text-right">
      <button type="button" class="btn btn-custom btn-gray btn-block"
        ng-click="openRoot()">{{ 'cancel' | translate }}</button>
    </div>
  </div>
</form>