<form id="passwordForm" name="passwordForm" enctype="multipart/form-data" ng-submit="setting.submit(setting.datas)">
  <div class="setting">
    <div class="container setting-plan">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">
              <label for="logo" class="style-font">สัญลักษณ์โรงเรียน</label>
              <div class="form-group">
                <img id="s_logo" src="{{ setting.datas.school_logo }}" alt="your image" width="200px" onclick="$('#file-upload').trigger('click')" /><br>
                <input type="file" id="file-upload" onchange="angular.element(this).scope().fileChange(event, 's_logo')">
              </div>
            </div>
            <div class="col-md-9">
              <div class="row">
                <label for="data" class="style-font">ข้อมูลทั่วไป</label>
              </div><br>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="name">{{ 'school_name_thai' | translate }}</label>
                    <input type="text" class="form-control white-bg" id="name" ng-model="setting.datas.school.name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="name_eng">{{ 'school_name_eng' | translate }}</label>
                    <input type="text" class="form-control white-bg" id="name_eng" ng-model="setting.datas.school.name_eng">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="subdoamin">Subdomain</label>
                    <input type="text" class="form-control white-bg" id="name_eng" ng-model="setting.datas.school.subdomain_name">
                  </div>
                </div>
                <div class="col-md-6" style="margin-top: 45px; margin-left: -20px; color:#0098CF;">
                  <b>.onbananacoding.com</b>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <div class="row">
            <label for="head" class="style-font">ข้อมูลสำหรับหัวใบเสร็จ</label>
          </div><br>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="address">{{ 'address' | translate }}</label>
                <input type="text" class="form-control white-bg" id="address" ng-model="setting.datas.school.address">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">{{ 'phone' | translate }}</label>
                <input type="text" class="form-control white-bg" id="phone" ng-model="setting.datas.school.phone">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="fax">{{ 'fax' | translate }}</label>
                <input type="text" class="form-control white-bg" id="fax" ng-model="setting.datas.school.fax">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="email">{{ 'school_email' | translate }}</label>
                <input type="text" class="form-control white-bg" id="emailSchool" ng-model="setting.datas.school.email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label for="schoolTaxId">{{ 'tax_number' | translate}}</label>
                <input type="text" class="form-control white-bg" id="schoolTaxId" ng-model="setting.datas.school.tax_id">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="subdoamin">สาขา</label>
                <input type="text" class="form-control white-bg" id="name_eng" ng-model="setting.datas.school.branch">
              </div>
            </div>
          </div><br>
          <div class="row">
            <label class="style-font">ข้อมูลสำหรับท้ายใบเสร็จ</label>
          </div><br>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="schoolTaxId">{{ 'note' | translate}}</label>
                <input type="text" class="form-control white-bg" id="schoolTaxId" ng-model="setting.datas.school.note">
              </div>
            </div>
          </div>
          <!-- end half-->
        </div>
      </div>
      <!--////////////////////-->
      <div class="row"><br>
        <label>_____________________________________________________________________________________________________________________________________________________________________________________________________________</label>
      </div><br>

      <div class="row">
        <label class="style-font">ข้อมูลผู้ติดต่อ</label>
      </div> <br>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label for="name">{{ 'employee_name' | translate }}</label>
            <input type="text" class="form-control" id="username" ng-model="setting.datas.user.full_name">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="email">{{ 'phone' | translate }}</label>
            <input type="text" class="form-control" id="useremail" ng-model="setting.datas.user.email">
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label for="email">{{ 'email' | translate }}</label>
            <input type="text" class="form-control" id="useremail" ng-model="setting.datas.user.email">
          </div>
        </div>
      </div><br>
      <div class="row">
        <label class="style-font">ที่อยู่ออกใบเสร็จ</label>
      </div><br>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label for="schoolTaxId">ชื่อ</label>
            <input type="text" class="form-control white-bg" id="schoolTaxId" ng-model="setting.datas.billing_info.name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label for="schoolTaxId">{{ 'ที่อยู่' | translate}}</label>
            <input type="text" class="form-control white-bg" id="schoolTaxId" ng-model="setting.datas.billing_info.address">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="schoolTaxId">{{ 'อำเภอ/เขต' | translate}}</label>
            <input type="text" class="form-control white-bg" id="schoolTaxId" ng-model="setting.datas.billing_info.district">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="schoolTaxId">{{ 'จังหวัด' | translate}}</label>
            <input type="text" class="form-control white-bg" id="schoolTaxId" ng-model="setting.datas.billing_info.province">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="schoolTaxId">{{ 'รหัสไปรษณีย์' | translate}}</label>
            <input type="text" class="form-control white-bg" id="schoolTaxId" ng-model="setting.datas.billing_info.zip_code">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="schoolTaxId">{{ 'หมายเลขโทรศัพท์' | translate}}</label>
            <input type="text" class="form-control white-bg" id="schoolTaxId" ng-model="setting.datas.billing_info.phone">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="schoolTaxId">{{ 'tax_number' | translate}}</label>
            <input type="text" class="form-control white-bg" id="schoolTaxId" ng-model="setting.datas.billing_info.tax_id">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <label for="schoolTaxId">สาขา</label>
            <input type="text" class="form-control white-bg" id="schoolTaxId" ng-model="setting.datas.billing_info.branch">
          </div>
        </div>
      </div>
      <div class="row"><br>
        <label>_____________________________________________________________________________________________________________________________________________________________________________________________________________</label>
      </div><br>
      <div class="row">
        <label class="style-font">แผน</label>
      </div><br>
      <div class="row" ng-repeat="data in setting.datas.licenses">
        <div class="col-md-3">
          <div class="form-group">
            <label for="schoolTaxId">{{ data.plan_id }}</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="schoolTaxId">{{ data.getting_start | date:"MM/dd/yyyy" }} - {{ data.expired_date | date:"MM/dd/yyyy"}}</label>
          </div>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-custom btn-blue float-right size">Chang plan</button>
        <button class="btn btn-custom btn-red float-right size">Cancel plan</button>
      </div>

    </div>
  </div>
  <br><br>
  <div class="footer-menu row" style="margin-right: 50px;">
    <div class="col-md-offset-8 col-md-2 text-right">
      <button type="submit" class="btn btn-custom btn-blue btn-block">{{ 'save' | translate }}</button>
    </div>
    <div class="col-md-2 text-right">
      <button type="button" class="btn btn-custom btn-gray btn-block" ng-click="openRoot()">{{ 'cancel' | translate }}</button>
    </div>
  </div>
</form>


<!-- <form id="passwordForm" name="passwordForm" enctype="multipart/form-data" ng-submit="setting.submit(setting.datas)">
  <div class="container setting" style="width: 960px;">
    <div class="row paragraph bg-setting">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="name">{{ 'employee_name' | translate }}</label>
              <input type="text" class="form-control" id="username" ng-model="setting.datas.user.full_name">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="email">{{ 'email' | translate }}</label>
              <input type="text" class="form-control" id="useremail" ng-model="setting.datas.user.email">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <img id="s_logo" src="{{ setting.datas.school_logo }}" alt="your image" width="100px" onclick="$('#file-upload').trigger('click')" /><br>
              <input type="file" id="file-upload" onchange="angular.element(this).scope().fileChange(event, 's_logo')">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="password">{{ 'password' | translate }}</label>
              <input type="password" class="form-control white-bg" id="password" ng-model="setting.datas.password" ng-disabled="true">
            </div>
          </div>
        </div>
        <div class="space20"></div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <button type="button" class="btn btn-custom btn-green btn-block" ng-click="setting.changePassword()">{{ 'change_password' | translate }}</button>
            </div>
          </div>
        </div>
        <div class="space20"></div>
        <div ng-show="setting.canUpdateSchool">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="name">{{ 'school_name_thai' | translate }}</label>
                <input type="text" class="form-control white-bg" id="name" ng-model="setting.datas.school.name">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="name_eng">{{ 'school_name_eng' | translate }}</label>
                <input type="text" class="form-control white-bg" id="name_eng" ng-model="setting.datas.school.name_eng">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="schoolTaxId">{{ 'tax_number' | translate}}</label>
                <input type="text" class="form-control white-bg" id="schoolTaxId" ng-model="setting.datas.school.tax_id">
              </div>
            </div>
          </div>
          <div class="space20"></div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label for="address">{{ 'address' | translate }}</label>
                <input type="text" class="form-control white-bg" id="address" ng-model="setting.datas.school.address">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="zipcode">{{ 'zipcode' | translate }}</label>
                <input type="text" class="form-control white-bg" id="zipcode" ng-model="setting.datas.school.zip_code">
              </div>
            </div>
          </div>
          <div class="space20"></div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="email">{{ 'school_email' | translate }}</label>
                <input type="text" class="form-control white-bg" id="emailSchool" ng-model="setting.datas.school.email">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="phone">{{ 'phone' | translate }}</label>
                <input type="text" class="form-control white-bg" id="phone" ng-model="setting.datas.school.phone">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="fax">{{ 'fax' | translate }}</label>
                <input type="text" class="form-control white-bg" id="fax" ng-model="setting.datas.school.fax">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-menu row" style="margin-right: -30px;">
      <div class="col-md-offset-8 col-md-2 text-right">
        <button type="submit" class="btn btn-custom btn-green btn-block">{{ 'save' | translate }}</button>
      </div>
      <div class="col-md-2 text-right">
        <button type="button" class="btn btn-custom btn-gray btn-block" ng-click="openRoot()">{{ 'cancel' | translate }}</button>
      </div>
    </div>
  </div>
</form> -->