<p>Hello <%= @resource.email %>!</p>
<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', change_subdomain_send_mail_subdomains_url(reset_password_token: @token, subdomain_name: @resource.school&.subdomain_name)%></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>