(function() {
  'use strict';
  angular.module('somsri.invoice.buslane', [
  ])
  .controller('buslaneCtrl', ['$scope', '$rootScope',  function($scope, $rootScope) {
    $rootScope.menu = I18n.t('bus_lane')

    var buslaneTable = $('#buslane-table')
    var buslaneTableOptions = {
      sidePagination: "server",
      pagination: true,
      pageSize: 10, 
      showColumns: true,
      height: 'auto',
      striped: false,
      search: false,
      toolbar: ".toolbar",
      url: "/bus_lanes",
      columns: [{
        field: 'name',
        title: I18n.t("bus_lane_name")  
      },{
        field: 'bus',
        title: I18n.t("license_plate")
      },{
        field: 'employee',
        title: I18n.t("bus_employee"),
      },{
        field: 'students',
        title: I18n.t("total_student"),
      },{
        field: 'bring_back',
        formatter: editBtnFormatter
      }]
    }
    buslaneTable.bootstrapTable(buslaneTableOptions)

    function editBtnFormatter(index, row, element){
      var html =  '<a href="somsri_invoice#/updatebuslane/'+ row.id +'" class="color-orange"><i class="fas fa-edit color-orange"></i> แก้ไข</a>';
      return html;
    }



  }]);
})();
