<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="pastel,pastel.io,client dashboard for harvest,harvest,getharvest,report,timesheet,pastel timesheet harvest,pastel timesheet getharvest,pastel report harvest,pastel report getharvest,pastel.io timesheet harvest,pastel.io timesheet getharvest,pastel.io report harvest,pastel.io report getharvest,timesheet harvest,timesheet getharvest,report harvest,report getharvest,pastel timesheet,pastel report,pastel.io timesheet,pastel.io report,pastel harvest,pastel getharvest,pastel.io harvest,pastel.io getharvest">
  <meta name="author" content="">
  
  <title>Somsri</title>
  <%= stylesheet_link_tag '404' %>

</head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
